body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1, h2 {
  text-align: center;
}

table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #c3e041;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
